
h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

input[type="text"], input[type="date"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#infoBtn button {
    margin-right: 10px;
}

.submit-button-container {
    display: flex;          /* Creates a flex container */
    justify-content: center; /* Centers child elements horizontally */
    margin-top: 20px;        /* Adds some space above the button */
}

.submit-button {
    background-color: #007bff;
    padding: 10px 20px;     /* Padding for the button */
    font-size: 1rem;        /* Font size for the button text */
    cursor: pointer;        /* Cursor pointer for better UX */
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #eee;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 5px;
    /* margin-bottom: 10px; */
    justify-content: center;
    /* align-content: center; */
}

.info input {
    flex-grow: 1;           /* Allows the input to take available space */
    padding: 5px;           /* Adds padding for better spacing */
    font-size: 1rem;
}

.info button {
    padding: 5px 10px;      /* Adds padding for better click area */
    font-size: 1rem;        /* Adjusts font size */
    cursor: pointer;
    margin-bottom: 15px;
}